body {
    font-family: 'Times New Roman', Times, serif !important;
}

.card-title {
    font-variant: small-caps;
    font-weight: bold;
    border: 10 solid red;
}

label, h1, h2, h3, button {
    font-variant: small-caps;
}
