<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <i class="fa-solid fa-robot me-2 fs-3"></i>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProjects" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-folder-open me-2"></i>Projects
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProjects">
                        <li><a class="dropdown-item" href="{% url 'projects:list_projects' %}">
                            <i class="fas fa-list me-2"></i>List Projects
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'projects:create_project' %}">
                            <i class="fas fa-plus-circle me-2"></i>Create Project
                        </a></li>
                    </ul>
                </li>                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDocuments" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-file me-2"></i>Documents
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownDocuments">
                        <li><a class="dropdown-item" href="{% url 'ai-docs:list_documents' %}">
                            <i class="fas fa-list me-2"></i>List Documents
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'ai-docs:create_document' %}">
                            <i class="fas fa-plus-circle me-2"></i>Create Document
                        </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ai-models:select_project' %}">
                        <i class="fas fa-magic me-2"></i>Generate
                    </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPlayground" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-flask me-2"></i>PlayGround
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownPlayground">
                        <li><a class="dropdown-item" href="{% url 'ai-models:test_models' %}">
                            <i class="fas fa-vial me-2"></i>Test Models
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'ai-models:generate_description' %}">
                            <i class="fas fa-align-left me-2"></i>Generate Description
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'ai-models:generate_title' %}">
                            <i class="fas fa-header me-2"></i>Generate Title
                        </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li class="nav-item me-2">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            <i class="fas fa-tools me-2"></i>Admin Panel
                        </a>
                    </li>
                    {% endif %}
                <li class="nav-item me-2">
                    <a class="nav-link" href="{% url 'users:profile-read' %}">
                        <i class="fas fa-user-circle me-2"></i>Profile
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <form method="post" action="{% url 'authentication:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm d-flex align-items-center">
                            Logout <i class="fas fa-sign-out-alt ms-2"></i>
                        </button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item me-2 d-flex align-items-center">
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'authentication:login' %}">
                        <i class="fas fa-sign-in-alt me-2"></i>Login
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="btn btn-outline-success btn-sm" href="{% url 'authentication:register' %}">
                        <i class="fas fa-user-plus me-2"></i>Register
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>